[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
email-normalize = "*"

[dev-packages]
ipython = "*"
black = {version = "*", extras = ["d"]}

[requires]
python_version = "3.11"
